<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.contact_url}}" target="_blank"><img class="circle hoverable z-depth-1" src="https://www.gravatar.com/avatar/8531b002bcdaf738b2e2ce6f6e669675"></a>
  </div>
  <div class="user-intro center-align">
    <h1>关于我</h1>
    <ul>
      <li>Wizard,男。现居青岛。正在努力改造自己！</li>
    </ul>
    <h1>技能</h1>
    <ul>
      <li>微服务 - Spring Cloud, Dubbo</li>
      <li>存储 - MySQL, Redis, MongoDB, ElasticSearch</li>
      <li>消息队列 - RabbitMQ, Kafka</li>
      <li>虚拟化 - Docker, K8S学习中</li>
    </ul>
  </div>
</div>
