---
layout: default
css: ["post.css"]
js: ["post.js"]
---
<div id="post-info">
  <h3>{{page.title}}</h3>
  <ul class="collapsible hoverable" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
        <span>
          <i class="material-icons tooltipped" data-position="left" data-delay="30" data-tooltip="Date">date_range</i>
          {{page.date | date: "%Y-%m-%d %H:%M"}}
          <i id="indicate" class="right material-icons tooltipped" data-position="left" data-delay="30" data-tooltip="Show extra info">info</i>
        </span>
      </div>
      <div class="collapsible-body">
        <span>
          <i class="material-icons tooltipped" data-position="left" data-delay="30" data-tooltip="Categories">sort</i>
          {% for cat in page.categories %}
          {% capture test %}{{cat | slice: 0}}{% endcapture %}
          {% capture testup %}{{cat | slice: 0 | upcase}}{% endcapture %}
          <a href="{{site.baseurl}}/categories#{{cat | slugify}}{% if test == testup %}_cap{% endif %}" target="_blank"><div class="chip">{{cat}}</div></a>
          {% endfor %}
        </span>
        <span>
          <i class="material-icons tooltipped" data-position="left" data-delay="30" data-tooltip="Tags">label</i>
          {% for tag in page.tags %}
          {% capture test %}{{tag | slice: 0}}{% endcapture %}
          {% capture testup %}{{tag | slice: 0 | upcase}}{% endcapture %}
          <a href="{{site.baseurl}}/tags#{{tag | slugify}}{% if test == testup %}_cap{% endif %}" target="_blank"><div class="chip">{{tag}}</div></a>
          {% endfor %}
        </span>
      </div>
    </li>
  </ul>
</div>
<div class="divider"></div>
<div id="post-content" class="row">
  <div class="col s12">
    {{ content }}
  </div>
</div>
<div id='gitalk-container'></div>
<script>
console.log('=====')
const gitalk = new Gitalk({
  clientID: 'ab52bf5d22a77fcb0a94',
  clientSecret: '86f6a94811399a7df7d524dd27b6b2e6a5fc0930',
  repo: 'lsw1991abc.github.io',
  owner: 'lsw1991abc',
  admin: ['lsw1991abc'],
  id: '{{ page.title }}',      // Ensure uniqueness and length less than 50
  distractionFreeMode: false  // Facebook-like distraction free mode
})

gitalk.render('gitalk-container')
</script>
